<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="general :: bootstrap-head"/>
    <title>
        Добавить вакансию
    </title>
</head>
<body>

<div th:replace="general :: menu('vacancies')"/>
<div th:replace="general :: bootstrap-scripts"/>


<div class="container mt-3" style="max-width: 400px;">
    <form method="post" action="/saveVacancy">
        <div class="form-group">
            <label> Выберите компанию </label>
            <div class="input-group">
                <select class="custom-select" name="companyId">
                    <ul th:each="company: ${companies}">
                        <li>
                            <option th:value="${company.getId()}" th:text="${company.getName()}"></option>
                        </li>
                    </ul>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Должность</label>
            <input class="form-control" name="position">
        </div>

        <div class="form-group">
            <label>Зарплата</label>
            <input type="number" class="form-control" name="salary">
        </div>

        <div class="form-group">
            <label>Опыт работы</label>
            <input type="number" step="any" class="form-control" name="experience">
        </div>

        <div class="form-group">
            <label>Образование</label>
            <div class="input-group">
                <select class="custom-select" name="inputEducation">
                    <ul th:each="educ: ${education}">
                        <li>
                            <option th:value="${educ.getId()}" th:text="${educ.getEduc_name()}"></option>
                        </li>
                    </ul>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>

</div>

</body>
</html>