<!DOCTYPE html>
<html lang="ru">
<head>
    <div th:replace="general :: bootstrap-head"/>
    <title>
        Кадровое агенство
    </title>
</head>
<body>

    <div th:replace="general :: menu('main')"/>
    <div th:replace="general :: bootstrap-scripts"/>

    <container>
        <div class="indent">
            <h1>
                Добро пожаловать!
            </h1>
            Для работы с системой перейдите на одну из страниц. <br>
            Разработанное веб-приложение используется для сопровождения работы кадрового агенства <br>or
            Приятного времяпрепровождения!
        </div>

    </container>


    <div class="fixed-bottom indent">
            <p>Создатель сайта Данила Ковтун, 328 группа</p>
    </div>
</body>
</html>