<!DOCTYPE html>
<html lang="ru">
<head>
    <div th:replace="general :: bootstrap-head"/>
    <title>
        Таблица соискателей
    </title>
</head>
<body>

    <div th:replace="general :: menu('people')"/>
    <div th:replace="general :: bootstrap-scripts"/>

    <div class="indent">
        <div class="form-row">
            <div class="col">
                <form  method="get" action="/people">
                    <div class="form-group" >
                        <label>Поиск человека</label>
                        <input type="text" class="form-control" name="nameFilter">
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="get" style="margin-top: 32px; margin-right: 60px" action="/addPerson">
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-success mb-2">Добавить человека</button>
                    </div>
                </form>
            </div>
        </div>

        <span th:if="${people.size() == 0}">
            <b>Не найдено</b>
        </span>

        <span th:if="${people.size() != 0}">
            <table class="table table-bordered ">

                <thead class="table-dark">
                    <tr>
                        <th scope="col"> Фамилия </th>
                        <th scope="col"> Имя </th>
                        <th scope="col"> Отчество </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>

                <tr th:each="person : ${people}">
                    <td th:text="${person.getLast_name()}"></td>
                    <td th:text="${person.getFirst_name()}"></td>
                    <td th:text="${person.getSur_name()}"></td>
                    <td align="center">
                        <form method="get" action="/viewPerson">
                            <input type="hidden" name="id" th:value="${person.getId()}"/>
                            <button type="submit" class="btn btn-secondary">Личная страница</button>
                        </form>
                    </td>
                </tr>
            </table>
        </span>
    </div>

</body>
</html>